.header {
    padding-top: 1rem;
}

.logo-box {
    width: 75px;
    height: 50px;
    border-style: solid;
}

.card-img-top {
    height: 125px;
    width: 100%;
}

.placeholder {
    border-style: solid;
}

.cta-link {
    color: #FF289B;
}

.inline-block {
    display: inline-block;
}

.footer-break {
    height: 2px;
    border: 0;
    background-color: #000000;
}

.non-list {
    list-style-type: none;
    padding: 0;
}